<%- include("./partials/head")  %> 
<link rel="stylesheet" href="/css/main/home.css">

<body>
    <%- include("./partials/header")  %> 
    <main>
        <section id="topHome">
            <% if (user) { %>
                <h1 id="userMessage">Bienvenido <%= user.displayName %> !</h1>
            <% } %>
        </section>
    
        <section id="bottomHome">
            <% products.forEach(element => { %>
                    <article>
                        <a href="/products/<%= element.id %> ">
                            <h5><%= element.name %> </h5>
                            <img src="/assets/products/<%= element.img[0] %> " alt="Imagen <%= element.name %> ">
                        </a> 
                    </article> 
                
            <% }) %>
            
        </section>
    </main>

    <%- include("./partials/footer")  %> 
</body>
</html>