<%- include("./partials/head")  %> 
<link rel="stylesheet" href="/css/main/products.css">

<body>
    <%- include("./partials/header")  %> 

    <main>
        <% if (product) { %>
            <article>
                <h1><%= product.name %> </h1>
                <section>
                    <% if (product.img.length > 1) { %>
                        <% for( let i = 0; i < product.img.length; i++ ) { %>
                            <img src="/assets/products/<%= product.img[i] %>" alt="<%= product.name %>" />
                        <% } %>
                    <% } else { %>
                        <img src="/assets/products/<%= product.img %>" alt="<%= product.name %>" />
                        <% } %> 

                    <% if (product.color) { %>
                        <p>color: </p>
                        <select name="colors" id="colors">
                            <% product.color.forEach(element => { %>
                                <option value="<% element %>"><%= element %> </option>
                            <% }) %>  
                        </select>
                    <% } %>
                    <p>$ <%= product.price %> </p>
                    <form action="#" method="post">
                        <input type="hidden" name="id" value="<% product.id %> ">
                        <button type="submit">Agregar al carrito</button>
                    </form>
                </section>
            </article>
        <% } else { %>
                <p>No existe el producto buscado</p>
            <% } %>
        
    </main>

    <%- include("./partials/footer")  %> 
</body>
</html>