<%- include("./partials/head")  %> 
<link rel="stylesheet" href="/css/products.css">

<body>
    <%- include("./partials/header")  %> 

    <main>
        <% if (product) { %>
            <h1 id="productTitle"><%= product.name %> </h1>
            <article id="productArticle">
                <section id="imgSection">
                    <img src="/assets/products/<%= product.img %>" alt="<%= product.name %>" />
                </section>
                <section id="infoSection">
                    <p id="descriptionP"><%= product.description %> </p>                    
                    <p>$ <%= product.price %> </p>
                    <% if (product.color) { %>
                        <section id="colorSection">
                            <p>Color: </p>
                            <select name="colors" id="colors">
                                <% product.color.forEach(element => { %>
                                    <option value="<% element %>"><%= element %> </option>
                                <% }) %>  
                            </select>
                        </section>
                      
                    <% } %>
                    <form action="#" method="post" id="cartForm">
                        <input type="hidden" name="id" value="<% product.id %> ">
                        <button type="submit">Agregar al carrito</button>
                    </form>
                </section>
            </article>
        <% } else { %>
                <p>No existe el producto buscado</p>
            <% } %>
        
    </main>

    <%- include("./partials/footer")  %> 
</body>
</html>