<%- include("../partials/head")  %> 
<link rel="stylesheet" href="/css/headerLinks/categories.css">

<body>
    <%- include("../partials/header")  %> 

    <main>
        <% if (category) { %>
            <h1 id="categoryTitle"><%= category.name %> </h1>
            <section id="categorieSection">
                
                <% for( let index = 0; index < products.length; index++ ) { %>
                    <% if (category.name == products[index].category) { %>
                        <article>
                        <img src="/assets/products/<%= products[index].img[0] %>" alt="<%= products[index].name %> ">
                            <h1><%= products[index].name %> </h1>
                            <p id="productPrice">$ <%= products[index].price %> </p>
                        </article>
                    <% } %>
                <% } %>
                
            </section>
         <% } else { %>
                <p> No existe la categoría buscada</p>
            <% } %>
    </main>

    <%- include("../partials/footer")  %> 
</body>
</html>