<%- include("../partials/head")  %> 
<link rel="stylesheet" href="/css/headerLinks/categories.css">

<body>
    <%- include("../partials/header")  %> 

    <main>
        <section id="coffeeSection">
            <% products.forEach(element => { %>
                <article>
                    <img src="/assets/products/<%= element.img %>" alt="">
                    <div id="coffeeInfo">
                        <h1>Proveniente de <%= element.country %> </h1>
                        <p>Intensidad :<%= element.intensity %> </p>
                        <p> $ <%= element.price %> </p>
                    </div>
                </article>
            <% }) %>
        </section>
    </main>

    <%- include("../partials/footer")  %> 
</body>
</html>