<%- include("../partials/head")  %> 

<body>
    <%- include("../partials/header")  %> 

    <main>
            <% coffee.forEach(element => { %>
                <article>
                    <img src="/assets/products/<%= element.img %>" alt="">
                    <h1>Proveniente de <%= element.country %> </h1>
                    <p>Intensidad :<%= element.intensity %> </p>
                    <p> $ <%= element.price %> </p>
                </article>
            <% }) %>

    </main>

    <%- include("../partials/footer")  %> 
</body>
</html>