<%- include("../partials/head")  %> 
<link rel="stylesheet" href="/css/headerLinks/products.css">

<body>
    <%- include("../partials/header")  %> 

    <main>
        <section id="accesoriesSection">
            <% products.forEach(element => { %>
                <article>
                    <img src="/assets/products/<%= element.img %>" alt="">
                    <div id="accesoriesInfo">
                        <h1><%= element.name %> </h1>
                        <p><%= element.description %> </p>
                        <p> $ <%= element.price %> </p>
                    </div>
                </article>
            <% }) %>
    </section>
    </main>

    <%- include("../partials/footer")  %> 
</body>
</html>